.checkout-item {
  width: 100%;
  display: flex;
  min-height: 140px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #fafafa;
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }

  .ant-row {
    width: 100%;
    justify-content: space-between;
  }

  .item-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .item-image:hover {
    transform: scale(1.05);
  }

  .ant-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-btn {
    padding: 5px;
  }

  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-btn {
      padding: 8px;
      font-size: 18px;
      background-color: #f0f0f0;
      border-radius: 50%;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #c8c8c8;
        transform: scale(1.1);
      }
    }
  }

  .remove-button {
    cursor: pointer;
    font-size: 24px;
    color: #e57373;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: #d32f2f;
      transform: scale(1.1);
    }
  }
}
